@import '../../assets/styles/settings.scss';

.planets {
  height: 100%;
  position: relative;
  height: 38rem;
  margin-left: 7rem;

  &-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30rem;
    height: 30rem;

  }
  .colonize__button {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 7rem;
    height: 4rem;

    .button__transparent {
      margin: 0;
    }
  }
}
