@import '../../../assets/styles/settings.scss';

.lobby {
  position: relative;

  &__content {
    border-radius: 0.3rem;
    background-color: #1F2B2B;
    border: 1px solid $light-dark-gray;
    margin: 0.5rem;
    height: 29.5rem;
    overflow-y: scroll;
    @include grid-col(12, 0);

    .no-games {
      padding: 0.8rem;
      font-family: $font-family-nova;
      color: $light-blue;
    }
    .game {
      padding: 0.8rem;
      border-bottom: 1px solid rgba(259, 255, 255, 0.05);;
      font-family: $font-family-nova;
      color: $light-blue;
      cursor: pointer;

      &__text, &__user {
        margin-left: 1rem;
      }
      &__user {
        color: $light-yellow;
      }
      &:hover {
        background: rgba(259, 255, 255, 0.05);
      }
    }
  }
  .new-game {
    &__button {
      position: absolute;
      border-top: none;
      border-right: none;
      border-radius: 0;
      cursor: pointer;
      top: 2.1875rem;
      right: 0;
      padding: 0 0.5rem;
      color: $light-blue;
      font-family: $font-family-nova;
      font-weight: 900;
      font-size: 2rem;
      background-color: #29393A;
      border-bottom: 1px solid $light-dark-gray;
      border-left: 1px solid $light-dark-gray;
      border-bottom-left-radius: 0.3rem;

      .new-game {
        &__button {
          &-cancel {
            padding: 0 0.05rem;
          }
        }
      }
      &:hover {
        .new-game {
          &__button {
            &-plus, &-cancel {
              opacity: 0.7;
            }
          }
        }
      }
    }
    &__menu {
      height: 100%;
      width: 100%;
      display: table;
      text-align: center;
      vertical-align: middle;
      font-family: $font-family-nova;
      color: $light-blue;
    }
    &__title {
      margin: 1rem 0 3rem 0;
      font-size: 2rem;
    }
    &__user {
      margin-bottom: 1rem;
    }
    &__name {
      margin-bottom: 2rem;
    }
    &__server {
      text-transform: uppercase;
      letter-spacing: 0.04rem;
    }
    &__password {
      margin-top: 2rem;

      &-input {
        display: inline-block;
        padding: 0.3rem;
        font-size: 1rem;
        color: $light-yellow;
        font-family: $font-family-nova;
        border: 2px solid $light-yellow;
        background: transparent;
      }
    }
    &__error {
      font-family: $font-family-nova;
      font-size: 1rem;
      margin-top: 1rem;
      color: red;
    }
    &__create {
      background: transparent;
      border: 2px solid $light-yellow;
      font-family: $font-family-nova;
      color: $light-yellow;
      padding: 0.5rem 0.8rem;
      font-size: 1rem;
      margin-top: 2rem;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
