.soylent-container {
  display: flex;
  align-items: center;
  margin: 1rem;

  &__title {
    font-size: 2rem;
    color: #FFFFFF;
    margin-right: 1rem;
    display: inline-block;
  }
  &__asset {
    width: 1.5rem;
    display: inline-block;

    &-image {
      width: 100%;
    }
  }
}
