.soylent-container {
  clear: both;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 2rem;
  background: rgba(0, 0, 0, 0.2);

  &__title {
    font-size: 2rem;
    color: #FFFFFF;
    margin-right: 1rem;
    display: inline-block;
  }
  &__asset {
    width: 1.5rem;
    display: inline-block;

    &.is-tradable {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
      &.is-selected {
        opacity: 0.2;
      }
    }
    &-image {
      width: 100%;
    }
  }
}
