@import '../../../assets/styles/base.scss';

.resource {
  overflow: hidden;

  &__asset {
    width: 5rem;
    margin-right: 2rem;
    float: left;
  }
  &__points {
    overflow: hidden;

    &-box {
      width: 100%;
      font-family: $font-family-nova;
      font-weight: 700;
      float: left;
      display: table;
      border: 1px solid #000000;
      background-color: #595959;
      box-shadow: inset 0 0 10px #000000;
      height: 5rem;
      text-align: center;

      &.is-active {
        background-color: rgba(0, 192, 230, 0.5);
        box-shadow: inset 0 0 10px #000000;
        border: 1px solid #000000;
      }
    }
  }
  &__value {
    display: table-cell;
    vertical-align: middle;
  }
}
