@import '../../../assets/styles/settings.scss';

.chat-room {
  &__chat {
    border-radius: 0.3rem;
    background-color: #1F2B2B;
    margin: 0.5rem 0.5rem 0 0;
    padding-top: 0.5rem;
    padding-bottom: 1.8rem;
    min-height: 4rem;
    border: 1px solid $light-dark-gray;
    overflow-x: scroll;
    @include grid-col(12, 0);
  }
  &__users-typing {
    color: $light-blue;
    font-size: 0.8rem;
    clear: both;
    padding: 0.25rem 0 0.3rem 0.5rem;
    opacity: 0.5;
  }
  &__spacer {
    height: 1.5rem;
    clear: both;
  }
  &__input {
    padding: 0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: #1F2B2B;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25) inset;
    border-radius: 0.3rem;
    border: 1px solid $light-dark-gray;
    color: $light-blue;
    @include grid-col(12, 0);
  }
  &__user {
    font-size: 0.8rem;
    font-weight: 700;
    color: $light-yellow;
  }
  &__message {
    padding-left: 0.8rem;

    &-content {
      font-size: 0.8rem;
      color: $light-blue;
      padding-left: 0.6rem;
    }
    &:hover {
      background-color: $darker-clay;
    }
  }
  &__user, &__message, &__input {
    font-family: $font-family-oswald;
  }
}
