@import '../../assets/styles/settings.scss';

.mini-resource-display {
  height: 38rem;
  width: 7rem;
  background: $smoke;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  left: -7rem;
  transition: all 1s linear;
  z-index: 1;

  &.is-active {
    left: 0;
  }

  .active-player {
    font-family: $font-family-nova;
    padding: 1rem 0;
    color: $aqua;
    font-size: 0.8rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .mini-resource {
    display: table;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    transition: 0.2s all linear;

    &.is-active {
      box-shadow: inset 0 0 10px #000000;
      background: $dark-clay;

      cursor: pointer;
      
      &:hover {
        opacity: 0.7;
      }
      .points {
        color: $light-yellow;
      }
      &.is-selected {
        background: #767672;
        box-shadow: inset 1px 4px 1px rgba(0,0,0,0.8);
        
      }
    }
    &:last-child {
      border: none;
    }

    &__asset {
      display: inline-block;
      width: auto;
      height: 2.55rem;
      margin: 0.5rem 1rem;
    }
    .points  {
      display: table-cell;
      vertical-align: middle;
      font-family: $font-family-nova;
      color: $aqua;
      height: 3rem;
      padding-right: 1rem;
    }
  }
  .credits {
    margin: 0.5rem 0.2rem;
  }
  .soylent {
    margin: 0.5rem 1.78rem;
  }
}
